[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim/bundle/tern_for_vim"]
	path = vim/bundle/tern_for_vim
	url = git@github.com:ternjs/tern_for_vim.git
[submodule "vim/bundle/vim-bracketed-paste"]
	path = vim/bundle/vim-bracketed-paste
	url = git@github.com:ConradIrwin/vim-bracketed-paste.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git@github.com:altercation/solarized.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-easytags"]
	path = vim/bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/bundle/vimagit"]
	path = vim/bundle/vimagit
	url = git@github.com:jreybert/vimagit.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-gitbranch"]
	path = vim/bundle/vim-gitbranch
	url = git@github.com:itchyny/vim-gitbranch.git
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/tmuxline.vim"]
	path = vim/bundle/tmuxline.vim
	url = git@github.com:edkolev/tmuxline.vim
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript
[submodule "vim/bundle/vim-pug"]
	path = vim/bundle/vim-pug
	url = git@github.com:digitaltoad/vim-pug
[submodule "vim/bundle/vim-pug-complete"]
	path = vim/bundle/vim-pug-complete
	url = git@github.com:dNitro/vim-pug-complete
[submodule "vim/bundle/vim-mustache-handlebars"]
	path = vim/bundle/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars
[submodule "vim/bundle/scss-syntax.vim"]
	path = vim/bundle/scss-syntax.vim
	url = git@github.com:cakebaker/scss-syntax.vim
